################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LegoPacman/.vs/LegoPacman/v14
